<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel hostname_covidhr_t_fabbisogno search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN fab_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_fab_id}  r-horizontal-field form-horizontal" 
	
		data-fieldname="fab_id" 
	
	data-signal-error-for="fab_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="fab_id" >


	<label class="r-search-label control-label" for="{$labelfor_fab_id}">
		{$label hostname_covidhr_t_fabbisogno fab_id }	</label>
	<div class="r-search-option">
		{$searchtype_fab_id}
	</div>
	<div class="r-search-field">
		{$fab_id_editcontrol}	</div>
	<div class="r-search-field">
		{$fab_id_editcontrol1}
	</div>
	
</div>

{END fab_id_fieldblock}
											
{BEGIN id_ente_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_ente}  r-horizontal-field form-horizontal" 
	
		data-fieldname="id_ente" 
	
	data-signal-error-for="id_ente{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="id_ente" >


	<label class="r-search-label control-label" for="{$labelfor_id_ente}">
		{$label hostname_covidhr_t_fabbisogno id_ente }	</label>
	<div class="r-search-option">
		{$searchtype_id_ente}
	</div>
	<div class="r-search-field">
		{$id_ente_editcontrol}	</div>
	<div class="r-search-field">
		{$id_ente_editcontrol1}
	</div>
	
</div>

{END id_ente_fieldblock}
											
{BEGIN id_d_area_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_d_area}  r-horizontal-field form-horizontal" 
	
		data-fieldname="id_d_area" 
	
	data-signal-error-for="id_d_area{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="id_d_area" >


	<label class="r-search-label control-label" for="{$labelfor_id_d_area}">
		{$label hostname_covidhr_t_fabbisogno id_d_area }	</label>
	<div class="r-search-option">
		{$searchtype_id_d_area}
	</div>
	<div class="r-search-field">
		{$id_d_area_editcontrol}	</div>
	<div class="r-search-field">
		{$id_d_area_editcontrol1}
	</div>
	
</div>

{END id_d_area_fieldblock}
											
{BEGIN d1_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_d1_id}  r-horizontal-field form-horizontal" 
	
		data-fieldname="d1_id" 
	
	data-signal-error-for="d1_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="d1_id" >


	<label class="r-search-label control-label" for="{$labelfor_d1_id}">
		{$label hostname_covidhr_t_fabbisogno d1_id }	</label>
	<div class="r-search-option">
		{$searchtype_d1_id}
	</div>
	<div class="r-search-field">
		{$d1_id_editcontrol}	</div>
	<div class="r-search-field">
		{$d1_id_editcontrol1}
	</div>
	
</div>

{END d1_id_fieldblock}
											
{BEGIN med_specialisti_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_med_specialisti}  r-horizontal-field form-horizontal" 
	
		data-fieldname="med_specialisti" 
	
	data-signal-error-for="med_specialisti{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="med_specialisti" >


	<label class="r-search-label control-label" for="{$labelfor_med_specialisti}">
		{$label hostname_covidhr_t_fabbisogno med_specialisti }	</label>
	<div class="r-search-option">
		{$searchtype_med_specialisti}
	</div>
	<div class="r-search-field">
		{$med_specialisti_editcontrol}	</div>
	<div class="r-search-field">
		{$med_specialisti_editcontrol1}
	</div>
	
</div>

{END med_specialisti_fieldblock}
											
{BEGIN medspecialisti_appr_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_medspecialisti_appr}  r-horizontal-field form-horizontal" 
	
		data-fieldname="medspecialisti_appr" 
	
	data-signal-error-for="medspecialisti_appr{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="medspecialisti_appr" >


	<label class="r-search-label control-label" for="{$labelfor_medspecialisti_appr}">
		{$label hostname_covidhr_t_fabbisogno medspecialisti_appr }	</label>
	<div class="r-search-option">
		{$searchtype_medspecialisti_appr}
	</div>
	<div class="r-search-field">
		{$medspecialisti_appr_editcontrol}	</div>
	<div class="r-search-field">
		{$medspecialisti_appr_editcontrol1}
	</div>
	
</div>

{END medspecialisti_appr_fieldblock}
											
{BEGIN d1_stato_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_d1_stato}  r-horizontal-field form-horizontal" 
	
		data-fieldname="d1_stato" 
	
	data-signal-error-for="d1_stato{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="d1_stato" >


	<label class="r-search-label control-label" for="{$labelfor_d1_stato}">
		{$label hostname_covidhr_t_fabbisogno d1_stato }	</label>
	<div class="r-search-option">
		{$searchtype_d1_stato}
	</div>
	<div class="r-search-field">
		{$d1_stato_editcontrol}	</div>
	<div class="r-search-field">
		{$d1_stato_editcontrol1}
	</div>
	
</div>

{END d1_stato_fieldblock}
											
{BEGIN d2_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_d2_id}  r-horizontal-field form-horizontal" 
	
		data-fieldname="d2_id" 
	
	data-signal-error-for="d2_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="d2_id" >


	<label class="r-search-label control-label" for="{$labelfor_d2_id}">
		{$label hostname_covidhr_t_fabbisogno d2_id }	</label>
	<div class="r-search-option">
		{$searchtype_d2_id}
	</div>
	<div class="r-search-field">
		{$d2_id_editcontrol}	</div>
	<div class="r-search-field">
		{$d2_id_editcontrol1}
	</div>
	
</div>

{END d2_id_fieldblock}
											
{BEGIN medici_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_medici}  r-horizontal-field form-horizontal" 
	
		data-fieldname="medici" 
	
	data-signal-error-for="medici{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="medici" >


	<label class="r-search-label control-label" for="{$labelfor_medici}">
		{$label hostname_covidhr_t_fabbisogno medici }	</label>
	<div class="r-search-option">
		{$searchtype_medici}
	</div>
	<div class="r-search-field">
		{$medici_editcontrol}	</div>
	<div class="r-search-field">
		{$medici_editcontrol1}
	</div>
	
</div>

{END medici_fieldblock}
											
{BEGIN medici_appr_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_medici_appr}  r-horizontal-field form-horizontal" 
	
		data-fieldname="medici_appr" 
	
	data-signal-error-for="medici_appr{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="medici_appr" >


	<label class="r-search-label control-label" for="{$labelfor_medici_appr}">
		{$label hostname_covidhr_t_fabbisogno medici_appr }	</label>
	<div class="r-search-option">
		{$searchtype_medici_appr}
	</div>
	<div class="r-search-field">
		{$medici_appr_editcontrol}	</div>
	<div class="r-search-field">
		{$medici_appr_editcontrol1}
	</div>
	
</div>

{END medici_appr_fieldblock}
											
{BEGIN d2_stato_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_d2_stato}  r-horizontal-field form-horizontal" 
	
		data-fieldname="d2_stato" 
	
	data-signal-error-for="d2_stato{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="d2_stato" >


	<label class="r-search-label control-label" for="{$labelfor_d2_stato}">
		{$label hostname_covidhr_t_fabbisogno d2_stato }	</label>
	<div class="r-search-option">
		{$searchtype_d2_stato}
	</div>
	<div class="r-search-field">
		{$d2_stato_editcontrol}	</div>
	<div class="r-search-field">
		{$d2_stato_editcontrol1}
	</div>
	
</div>

{END d2_stato_fieldblock}
											
{BEGIN d3_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_d3_id}  r-horizontal-field form-horizontal" 
	
		data-fieldname="d3_id" 
	
	data-signal-error-for="d3_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="d3_id" >


	<label class="r-search-label control-label" for="{$labelfor_d3_id}">
		{$label hostname_covidhr_t_fabbisogno d3_id }	</label>
	<div class="r-search-option">
		{$searchtype_d3_id}
	</div>
	<div class="r-search-field">
		{$d3_id_editcontrol}	</div>
	<div class="r-search-field">
		{$d3_id_editcontrol1}
	</div>
	
</div>

{END d3_id_fieldblock}
											
{BEGIN infermieri_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_infermieri}  r-horizontal-field form-horizontal" 
	
		data-fieldname="infermieri" 
	
	data-signal-error-for="infermieri{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="infermieri" >


	<label class="r-search-label control-label" for="{$labelfor_infermieri}">
		{$label hostname_covidhr_t_fabbisogno infermieri }	</label>
	<div class="r-search-option">
		{$searchtype_infermieri}
	</div>
	<div class="r-search-field">
		{$infermieri_editcontrol}	</div>
	<div class="r-search-field">
		{$infermieri_editcontrol1}
	</div>
	
</div>

{END infermieri_fieldblock}
											
{BEGIN infermieri_appr_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_infermieri_appr}  r-horizontal-field form-horizontal" 
	
		data-fieldname="infermieri_appr" 
	
	data-signal-error-for="infermieri_appr{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="infermieri_appr" >


	<label class="r-search-label control-label" for="{$labelfor_infermieri_appr}">
		{$label hostname_covidhr_t_fabbisogno infermieri_appr }	</label>
	<div class="r-search-option">
		{$searchtype_infermieri_appr}
	</div>
	<div class="r-search-field">
		{$infermieri_appr_editcontrol}	</div>
	<div class="r-search-field">
		{$infermieri_appr_editcontrol1}
	</div>
	
</div>

{END infermieri_appr_fieldblock}
											
{BEGIN d3_stato_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_d3_stato}  r-horizontal-field form-horizontal" 
	
		data-fieldname="d3_stato" 
	
	data-signal-error-for="d3_stato{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="d3_stato" >


	<label class="r-search-label control-label" for="{$labelfor_d3_stato}">
		{$label hostname_covidhr_t_fabbisogno d3_stato }	</label>
	<div class="r-search-option">
		{$searchtype_d3_stato}
	</div>
	<div class="r-search-field">
		{$d3_stato_editcontrol}	</div>
	<div class="r-search-field">
		{$d3_stato_editcontrol1}
	</div>
	
</div>

{END d3_stato_fieldblock}
											
{BEGIN d4_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_d4_id}  r-horizontal-field form-horizontal" 
	
		data-fieldname="d4_id" 
	
	data-signal-error-for="d4_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="d4_id" >


	<label class="r-search-label control-label" for="{$labelfor_d4_id}">
		{$label hostname_covidhr_t_fabbisogno d4_id }	</label>
	<div class="r-search-option">
		{$searchtype_d4_id}
	</div>
	<div class="r-search-field">
		{$d4_id_editcontrol}	</div>
	<div class="r-search-field">
		{$d4_id_editcontrol1}
	</div>
	
</div>

{END d4_id_fieldblock}
											
{BEGIN specializandi_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_specializandi}  r-horizontal-field form-horizontal" 
	
		data-fieldname="specializandi" 
	
	data-signal-error-for="specializandi{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="specializandi" >


	<label class="r-search-label control-label" for="{$labelfor_specializandi}">
		{$label hostname_covidhr_t_fabbisogno specializandi }	</label>
	<div class="r-search-option">
		{$searchtype_specializandi}
	</div>
	<div class="r-search-field">
		{$specializandi_editcontrol}	</div>
	<div class="r-search-field">
		{$specializandi_editcontrol1}
	</div>
	
</div>

{END specializandi_fieldblock}
											
{BEGIN specializzandi_appr_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_specializzandi_appr}  r-horizontal-field form-horizontal" 
	
		data-fieldname="specializzandi_appr" 
	
	data-signal-error-for="specializzandi_appr{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="specializzandi_appr" >


	<label class="r-search-label control-label" for="{$labelfor_specializzandi_appr}">
		{$label hostname_covidhr_t_fabbisogno specializzandi_appr }	</label>
	<div class="r-search-option">
		{$searchtype_specializzandi_appr}
	</div>
	<div class="r-search-field">
		{$specializzandi_appr_editcontrol}	</div>
	<div class="r-search-field">
		{$specializzandi_appr_editcontrol1}
	</div>
	
</div>

{END specializzandi_appr_fieldblock}
											
{BEGIN d4_stato_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_d4_stato}  r-horizontal-field form-horizontal" 
	
		data-fieldname="d4_stato" 
	
	data-signal-error-for="d4_stato{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="d4_stato" >


	<label class="r-search-label control-label" for="{$labelfor_d4_stato}">
		{$label hostname_covidhr_t_fabbisogno d4_stato }	</label>
	<div class="r-search-option">
		{$searchtype_d4_stato}
	</div>
	<div class="r-search-field">
		{$d4_stato_editcontrol}	</div>
	<div class="r-search-field">
		{$d4_stato_editcontrol1}
	</div>
	
</div>

{END d4_stato_fieldblock}
											
{BEGIN d5_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_d5_id}  r-horizontal-field form-horizontal" 
	
		data-fieldname="d5_id" 
	
	data-signal-error-for="d5_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="d5_id" >


	<label class="r-search-label control-label" for="{$labelfor_d5_id}">
		{$label hostname_covidhr_t_fabbisogno d5_id }	</label>
	<div class="r-search-option">
		{$searchtype_d5_id}
	</div>
	<div class="r-search-field">
		{$d5_id_editcontrol}	</div>
	<div class="r-search-field">
		{$d5_id_editcontrol1}
	</div>
	
</div>

{END d5_id_fieldblock}
											
{BEGIN altri_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_altri}  r-horizontal-field form-horizontal" 
	
		data-fieldname="altri" 
	
	data-signal-error-for="altri{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="altri" >


	<label class="r-search-label control-label" for="{$labelfor_altri}">
		{$label hostname_covidhr_t_fabbisogno altri }	</label>
	<div class="r-search-option">
		{$searchtype_altri}
	</div>
	<div class="r-search-field">
		{$altri_editcontrol}	</div>
	<div class="r-search-field">
		{$altri_editcontrol1}
	</div>
	
</div>

{END altri_fieldblock}
											
{BEGIN altri_appr_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_altri_appr}  r-horizontal-field form-horizontal" 
	
		data-fieldname="altri_appr" 
	
	data-signal-error-for="altri_appr{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="altri_appr" >


	<label class="r-search-label control-label" for="{$labelfor_altri_appr}">
		{$label hostname_covidhr_t_fabbisogno altri_appr }	</label>
	<div class="r-search-option">
		{$searchtype_altri_appr}
	</div>
	<div class="r-search-field">
		{$altri_appr_editcontrol}	</div>
	<div class="r-search-field">
		{$altri_appr_editcontrol1}
	</div>
	
</div>

{END altri_appr_fieldblock}
											
{BEGIN d5_stato_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_d5_stato}  r-horizontal-field form-horizontal" 
	
		data-fieldname="d5_stato" 
	
	data-signal-error-for="d5_stato{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="d5_stato" >


	<label class="r-search-label control-label" for="{$labelfor_d5_stato}">
		{$label hostname_covidhr_t_fabbisogno d5_stato }	</label>
	<div class="r-search-option">
		{$searchtype_d5_stato}
	</div>
	<div class="r-search-field">
		{$d5_stato_editcontrol}	</div>
	<div class="r-search-field">
		{$d5_stato_editcontrol1}
	</div>
	
</div>

{END d5_stato_fieldblock}
											
{BEGIN data_richiesta_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_data_richiesta}  r-horizontal-field form-horizontal" 
	
		data-fieldname="data_richiesta" 
	
	data-signal-error-for="data_richiesta{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="data_richiesta" >


	<label class="r-search-label control-label" for="{$labelfor_data_richiesta}">
		{$label hostname_covidhr_t_fabbisogno data_richiesta }	</label>
	<div class="r-search-option">
		{$searchtype_data_richiesta}
	</div>
	<div class="r-search-field">
		{$data_richiesta_editcontrol}	</div>
	<div class="r-search-field">
		{$data_richiesta_editcontrol1}
	</div>
	
</div>

{END data_richiesta_fieldblock}
											
{BEGIN nome_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nome}  r-horizontal-field form-horizontal" 
	
		data-fieldname="nome" 
	
	data-signal-error-for="nome{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="nome" >


	<label class="r-search-label control-label" for="{$labelfor_nome}">
		{$label hostname_covidhr_t_fabbisogno nome }	</label>
	<div class="r-search-option">
		{$searchtype_nome}
	</div>
	<div class="r-search-field">
		{$nome_editcontrol}	</div>
	<div class="r-search-field">
		{$nome_editcontrol1}
	</div>
	
</div>

{END nome_fieldblock}
											
{BEGIN nome1_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_nome1}  r-horizontal-field form-horizontal" 
	
		data-fieldname="nome1" 
	
	data-signal-error-for="nome1{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="nome1" >


	<label class="r-search-label control-label" for="{$labelfor_nome1}">
		{$label hostname_covidhr_t_fabbisogno nome1 }	</label>
	<div class="r-search-option">
		{$searchtype_nome1}
	</div>
	<div class="r-search-field">
		{$nome1_editcontrol}	</div>
	<div class="r-search-field">
		{$nome1_editcontrol1}
	</div>
	
</div>

{END nome1_fieldblock}
											
{BEGIN minimo_posti_rich_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_minimo_posti_rich}  r-horizontal-field form-horizontal" 
	
		data-fieldname="minimo_posti_rich" 
	
	data-signal-error-for="minimo_posti_rich{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="minimo_posti_rich" >


	<label class="r-search-label control-label" for="{$labelfor_minimo_posti_rich}">
		{$label hostname_covidhr_t_fabbisogno minimo_posti_rich }	</label>
	<div class="r-search-option">
		{$searchtype_minimo_posti_rich}
	</div>
	<div class="r-search-field">
		{$minimo_posti_rich_editcontrol}	</div>
	<div class="r-search-field">
		{$minimo_posti_rich_editcontrol1}
	</div>
	
</div>

{END minimo_posti_rich_fieldblock}
											
{BEGIN fab_stato_id_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_fab_stato_id}  r-horizontal-field form-horizontal" 
	
		data-fieldname="fab_stato_id" 
	
	data-signal-error-for="fab_stato_id{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="fab_stato_id" >


	<label class="r-search-label control-label" for="{$labelfor_fab_stato_id}">
		{$label hostname_covidhr_t_fabbisogno fab_stato_id }	</label>
	<div class="r-search-option">
		{$searchtype_fab_stato_id}
	</div>
	<div class="r-search-field">
		{$fab_stato_id_editcontrol}	</div>
	<div class="r-search-field">
		{$fab_stato_id_editcontrol1}
	</div>
	
</div>

{END fab_stato_id_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Cerca			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Annulla			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Torna alla lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancella			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
